.App {
  text-align: center;
  background-image: url("https://wellcall-app-cdk.s3.amazonaws.com/Landscape3.JPG");
  background-repeat: round;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 100vw;
    height: 100vh;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  position: relative;
}

.nav-logo {
  width: 8vw;
}

.main-nav-container {
  background-color: rgb(255, 255, 255, 0.6);
  width: 100vw;
  position: fixed;
}

.main-nav {
  position: relative;
  display: flex;
  justify-content: center;
}

.menu-item {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 300;
}
.menu-item a {
  color: #000;
}

.App-body-container {
  text-align: -webkit-center;
  /* height: 100vh; */
  padding-bottom: 100px;
}

.App-body {
  width: 60vw;
  padding: 25vh 0vh 10vh 0vh;
  /* position: fixed; */
}

.page-content-container {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 10px;
}

h1,
h2,
p {
  font-weight: 300;
}

p {
  font-size: 20px;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

button:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-color: #fff;
  width: 100vw;
  bottom: 0;
  position: fixed;
  padding: 20px;
}

.col-33 {
  width: 33%;
  display: inline-block;
}

.App-header .menu-btn {
  vertical-align: middle;
  float: left;
  padding: 1vh;
  min-height: 10vh;
}

.menu-btn:hover {
  cursor: pointer;
}

.App-header .menu-line:hover {
  cursor: pointer;
}
.App-header .menu-line {
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
}

.social-link {
  padding: 5px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .App-body {
    width: 80vw;
    padding: 15vh 0vh 10vh 0vh;
  }

  .App {
    background-repeat: repeat-y;
    background-image: url("https://wellcall-app-cdk.s3.amazonaws.com/Portrait+Zoom1.JPG");
  }

  .footer-link-container {
    display: block;
    padding: 3px;
  }
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
